<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spring Boot example</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link th:href="@{css/bootstrap.css}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/jegy_admin.css}"/>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

<body>
<header>
    <div class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
        <a class="navbar-brand" href="#">Online-jegykezelő</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/}">Kezdőoldal</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/vasut}">Vasút</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="jegyeim_nav" onclick="toJegyeim()">Jegyeim</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="berleteim_nav" onclick="toOffBerletek()">Bérleteim</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="keses_nav" th:href="@{/keses}">Késesek</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" id="jegy_admin_nav" th:href="@{/jegy_admin}">Jegy admin</a>
                </li>

            </ul>

            <form class="form-inline my-1 my-lg-0">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/login}">Bejelentkezés</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/regisztracio}">Regisztráció</a>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</header>
<br><br><br>
<h2 class="jegy_admin_label">Jegyek kezelése</h2>
<form th:action="@{/jegy_admin/add}" method="post">
    <p>&ensp;<input type="text" name="civ" id="civ" value="ASD123" required> <label for="civ" class="jegy_admin_label">&ensp;civ</label></p>
    <p>&ensp;<select id="kezdo_megallo" name="kezdo_megallo">
        <option th:each="megallo : ${megallo}" th:value="${megallo.nev}" th:text="${megallo.nev}"></option>
    </select> <label for="kezdo_megallo" class="jegy_admin_label" >&ensp;kezdo_megallo</label>
    </p>
    <p>&ensp;<select id="vegallomas" name="vegallomas">
        <option th:each="megallo : ${megallo}" th:value="${megallo.nev}" th:text="${megallo.nev}"></option>
    </select> <label for="vegallomas" class="jegy_admin_label">&ensp;vegallomas</label>
    </p>
    <p>&ensp;<input type="number" name="kocsiosztaly" id="kocsiosztaly" value="1" required> <label for="kocsiosztaly" class="jegy_admin_label">&ensp;kocsiosztaly</label></p>
    <p>&ensp;<select name="oda_vissza" id="oda_vissza">
        <option value = "igen">igen</option>
        <option value = "nem">nem</option>
    </select><label for="oda_vissza" class="jegy_admin_label">&ensp;oda_vissza</label></p>
    <p>&ensp;<input type="number" name="ar" id="ar" value="1000" required> <label for="ar" class="jegy_admin_label">&ensp;ar</label></p>
    <p>&ensp;<input type="date" name="ervenyes_ettol" id="ervenyes_ettol" value="2022-11-24" required> <label for="ervenyes_ettol" class="jegy_admin_label">&ensp;ervenyes_ettol</label></p>
    <p>&ensp;<input type="date" name="ervenyes_eddig" id="ervenyes_eddig" value="2022-11-24" required> <label for="ervenyes_eddig" class="jegy_admin_label">&ensp;ervenyes_eddig</label></p>
    <p>&ensp;<input type="date" name="datum" id="datum" value="2022-11-24" required> <label for="datum" class="jegy_admin_label">datum</label></p>
    <p>&ensp;<input type="text" name="kedvezmeny" id="kedvezmeny" value="nincs" required> <label for="kedvezmeny" class="jegy_admin_label">&ensp;kedvezmeny</label></p>
    <p>&ensp;<input type="submit" value="Hozzáad"></p>
</form>


<br><br>
<table id = "jegy_list">
    <tr>
        <td>id</td>
        <td>civ</td>
        <td>kezdo_megallo</td>
        <td>vegallomas</td>
        <td>kocsiosztaly</td>
        <td>oda_vissza</td>
        <td>ar</td>
        <td>ervenyes_ettol</td>
        <td>ervenyes_eddig</td>
        <td>datum</td>
        <td>kedvezmeny</td>
    </tr>
    <tr th:each="jegy : ${jegy}">

        <td th:text="${jegy.jegy_id}"></td>
        <td th:text="${jegy.civ}"></td>
        <td th:text="${jegy.kezdo_megallo}"></td>
        <td th:text="${jegy.vegallomas}"></td>
        <td th:text="${jegy.kocsiosztaly}"></td>
        <td th:text="${jegy.oda_vissza}"></td>
        <td th:text="${jegy.ar}"></td>
        <td th:text="${jegy.ervenyes_ettol}"></td>
        <td th:text="${jegy.ervenyes_eddig}"></td>
        <td th:text="${jegy.datum}"></td>
        <td th:text="${jegy.kedvezmeny}"></td>
        <td>
            <form th:action="@{/jegy_admin/update/{id}(id=${jegy.jegy_id})}" method="post">

                <input type="text" class="up_civ" name="up_civ" value="ha ezt látod akkor gebasz van" hidden>
                <input type="text" class="up_kezdo_megallo" name="up_kezdo_megallo" value="1" hidden>
                <input type="text" class="up_vegallomas" name="up_vegallomas" value="1" hidden>
                <input type="number" class="up_kocsiosztaly" name="up_kocsiosztaly" value=1 hidden>
                <input type="text" class="up_oda_vissza" name="up_oda_vissza" value="true" hidden>
                <input type="number" class="up_ar" name="up_ar" value=1 hidden>
                <input type="date" class="up_ervenyes_ettol" name="up_ervenyes_ettol" value="2022-11-01" hidden>
                <input type="date" class="up_ervenyes_eddig" name="up_ervenyes_eddig" value="2022-11-01" hidden>
                <input type="date" class="up_datum" name="up_datum" value=2022-11-01"" hidden>
                <input type="text" class="up_kedvezmeny" name="up_kedvezmeny" value="1" hidden>
                <input type="submit" class="update_button" value="Update" ></input>
            </form>
        </td>
        <td>
            <form th:action="@{/jegy_admin/delete/{id}(id=${jegy.jegy_id})}" method="post">
                <input type="submit" value="Delete" ></input>
            </form>
        </td>
    </tr>

</table>
<br><br><br><br>

</body>
<script type="text/javascript" th:src="@{/js/jegy_admin.js}"></script>
<script th:src="@{/js/navigation.js}"></script>
</html>